<section class="content">
    <div class="about-us" id="about-us">
      <div class="container">
          <div class="row top-bottom-space">
              <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center about-us-text">
                <h4>ABOUT US</h4>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
              </div>  
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="about-us-image">
                <img src="assets/about_us.jpg">
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="about-us-description">
                <h5>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</h5>
                <div class="blue-line"></div>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is layout.Lorem is a lo by the readable Ipsum is its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.</p>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout is a lo by the readable is a lo by the readable.</p>
                <button class="btn btn-download">GETTING STARTED</button>
              </div>
            </div>
          </div>
        </div>    
      </div>  
      <div class="portfolio-main" id="portfolio">
        <div class="container">
          <div class="row top-bottom-space">
            <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center portfolio-text">
              <h4>PORTFOLIO</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio6.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT ONE</b></h5>
                  <h6><i>Web desin</i></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio1.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT TWO</b></h5>
                  <h6><i>Logo</i></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio2.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT THREE</b></h5>
                  <h6><i>Photo</i></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio5.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT ONE</b></h5>
                    <h6><i>Web desin</i></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio4.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT ONE</b></h5>
                    <h6><i>Web desin</i></h6>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="portfolio">
                <div class="over-wrapper text-center">
                  <button>READ MORE</button>
                </div>
                <img src="assets/portfolio3.jpg">
                <div class="portfolio-wrapper clearfix">
                  <h5><b>PROJECT ONE</b></h5>
                    <h6><i>Web desin</i></h6>
                </div>
              </div>
            </div>    
          </div>
        </div>  
      </div>
      <div class="services" id="services">
        <div class="container">
          <div class="row top-bottom-space">
            <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center services-text">
              <h4>SERVICES</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
            </div>
          </div>
          <div class="row top-bottom-space text-center">  
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="service-box">
                <img src="assets/cam.png" width="35" height="25">
                <h3 class="mid-line">PHOTOGRAPHY</h3>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking content at its layout content. </p>
                <button class="btn btn-squre">READ MORE</button>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="service-box">
                <img src="assets/brush.png" width="35" height="25">
                <h3 class="mid-line">PAINTING</h3>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking content at its layout content. </p>
                <button class="btn btn-squre">READ MORE</button>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="service-box">
                <img src="assets/sic.png" width="35" height="25">
                <h3 class="mid-line">VIDEO EDITING</h3>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking content at its layout content. </p>
                <button class="btn btn-squre">READ MORE</button>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
              <div class="service-box">
                <img src="assets/s.png" width="35" height="25">
                <h3 class="mid-line">WEB DESIGN</h3>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking content at its layout content. </p>
                <button class="btn btn-squre">READ MORE</button>
              </div>
            </div>  
          </div>
        </div>
      </div>
      <div class="contact-us" id="contact-us">
        <div class="container">
          <div class="row top-bottom-space">
            <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center contact-info">
              <h4>CONTACT US</h4>
              <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="contact-address">
                <h5>CONTACT INFO</h5>
                <div class="blue-line"></div>
                <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.</p>
                <h5 class="address">Address</h5>
                <h6>ROBIN THOMAS</h6>
                <h6>SEDIN TECHNOLOGY</h6>
                <h6>09535787496</h6>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <form class="form">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" name="name" placeholder="Name" class="form-control">
                  </div>  
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="form-group">
                    <input type="text" name="email" placeholder="Email" class="form-control">
                  </div>  
                </div>
                <div class="col-sm-12 col-xs-12">
                  <div class="form-group">
                    <input class="form-control" type="text" name="subject" placeholder="SUbject">
                  </div>
                </div>
                <div class="col-sm-12 col-xs-12"> 
                  <div class="form-group">
                    <textarea class="form-control" placeholder="Message" rows="8"></textarea>
                  </div>
                </div>
                <button class="btn btn-big">SUBMIT</button> 
              </form>
            </div>  
          </div>
        </div>  
      </div>    
  </section>