<div ng-include="'home/header2.html.erb'"></div>
<div class="portfolio-main" id="portfolio">
  <div class="container">
    <div class="row top-bottom-space">
      <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center portfolio-text">
        <h4>Search Result</h4>
        <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="details in full_details | filter:data.keyword">
        <div class="portfolio">
          
          <div class="img-wrapper">
            <img src="assets/school.jpg">
            <div class="over-wrapper text-center">
              <button ng-click="detailsModel(details);" >VIEW DETAILS</button>
            </div>
          </div>
          <div class="portfolio-wrapper clearfix">
            <h5><b>{{details.name}}</b></h5>
            <h6><i>Web desin</i></h6>
          </div>
        </div>
      </div>   
    </div>
  </div>  
</div>