<div ng-include="'home/header2.html.erb'"></div>
<div ng-init="indivigual_det();" class="about-us" id="about-us">
  <div class="container">
      <div class="row top-bottom-space">
          <div class="col-sm-offset-3 col-sm-6 col-xs-12 text-center about-us-text">
            <h4>{{model_details.name}}</h4>
            <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout. </p>
          </div>  
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="about-us-image">
            <img src="assets/school.jpg">
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="about-us-description">
            <h5>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING</h5>
            <div class="blue-line"></div>
            <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is layout.Lorem is a lo by the readable Ipsum is its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.</p>
            <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout is a lo by the readable is a lo by the readable.</p>
            <button class="btn btn-download">GETTING STARTED</button>
          </div>
        </div>
      </div>
    </div>    
  </div>