<!-- <div ng-show="!header" ng-include="'home/header.html.erb'"></div>
<div ng-show="header" ng-include="'home/header2.html.erb'"></div> -->
<ng-view></ng-view>
<!--   <div ng-view></div> -->
<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Details</h4>
      </div>
      <div class="modal-body">
       <h3>{{model_details.name}}</h3>
       <img src="assets/school.jpg">
       <p>Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy text of the printing.It is a lo by the readable content of a page when looking at its layout.Lorem Ipsum is simply dummy.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </div>
  </div>
</div> -->
  <div class="container-fluid  footer">
    <p>Copyright &copy; 2016 UIBrush</p>
  </div>

<script>
  /*ajax call example*/
  /*$( function() {
  	var availableTags;
  	$.ajax({
      method: 'GET',
      url: '/get_location_list',
      success: function(res) {
         availableTags = res;
        $("#location").autocomplete({
      	source: availableTags
    });
      },
      error: function(res) {
        alert("error")
      }
    });    
  } );*/
  </script>